body{
    background-image: url(https://res.cloudinary.com/dyepe4ih7/image/upload/v1697662689/jr7jfeiisboeizkm6lsw.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: white dashed 1px;
    border-radius: 30px;
    padding: 30px;
}
.ppal{
    -webkit-animation: vibrate-2 1.3s linear infinite both;
	        animation: vibrate-2 1.3s linear infinite both;
    font-size: 50px;
    margin: 0px;
    display: flex;
    justify-content: center;
    /* background: rgb(0,69,168);
    background: radial-gradient(circle, rgba(0,69,168,1) 25%, rgba(0,119,190,1) 50%, rgba(0,224,255,1) 75%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; */
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 7px 7px 2px rgba(0, 0, 0, .5);
}
.datos{
    /*background: url(./img/pexels-olia-danilevich-5466789.jpg);
    background: rgb(0,69,168);
    background: radial-gradient(circle, rgba(0,69,168,1) 25%, rgba(0,119,190,1) 50%, rgba(0,224,255,1) 75%);*/
    display:grid;
    
    place-items: center;
    font-size: 0.875rem;
    text-align: center;
    color: white;
    text-shadow: 7px 7px 2px rgba(0, 0, 0, 1);
}
.datos .titulos{
    text-align: center;
    margin-right: 75px;
    font-size: larger;
}
.cobro{
    margin: 10px 10px;
}
.boton{
    margin: 10px;
    width: 50%;
    height: 35px;
    display: flex;
    justify-content: center;
    border: dotted white 1px;
    border-radius: 30px;
}
.boton:hover{
    -webkit-animation: jello-horizontal 0.9s both;
	        animation: jello-horizontal 0.9s both;
}
.calculo{
    background: none;
    font-size: larger;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 1);
    border: none;
    color: white;
}
.error{
    display: grid;
    justify-items: center;
    font-size: 30px;
    font-weight: 600;
    font-family: "Bookman Old Style, Times New Roman";
    color: rgb(187, 0, 0);
    text-shadow: 7px 7px 2px rgba(0, 0, 0, .5);
    -webkit-animation: pulsate-bck 3s ease-in-out infinite both;
	        animation: pulsate-bck 3s ease-in-out infinite both;
}
.resumen{
    display: grid;
    justify-items: center;
    /* background: rgb(0,69,168);
    background: radial-gradient(circle, rgba(0,69,168,1) 25%, rgba(0,119,190,1) 50%, rgba(0,224,255,1) 75%); */
    color: white;
    text-shadow: 7px 7px 2px rgba(0, 0, 0, 1);
}
.resumen h1{
    font-size: 30px ;
    -webkit-animation: vibrate-2 1.3s linear infinite both;
	        animation: vibrate-2 1.3s linear infinite both;
}
.resumen .dinero{
    background: none;
    font-size: larger;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 1);
    border: none;
    color: white;
}
/*--------------------------------------------------------*/
@-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  /*--------------------------------------------------------*/
  @-webkit-keyframes vibrate-2 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    40% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    60% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    80% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate-2 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    40% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    60% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    80% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
 @-webkit-keyframes vibrate-2 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    40% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    60% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    80% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate-2 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    40% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    60% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    80% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  /*--------------------------------------------------------*/
  @-webkit-keyframes pulsate-bck {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes pulsate-bck {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  